body {
	behavior:url("csshover.htc"); 
	margin: 10px; padding: 10px;
	background-image: url(../img/bg-main.gif);
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px;
	text-decoration: none;
}

div#main {
	width:460px;
}

button {
	float:right;
    color: #000000;
    border: 0 solid white;
	margin:5px;
	background-color : transparent;
	background-image: url(../img/btn_bg.png);
 	background-position: center;
  	background-repeat: no-repeat;
  	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
  	text-align: center;
	width:91px; 
	height: 21px;  	
	cursor: hand;
}

button.Selected {
	float:right;
	margin:5px;
	background-color : transparent;
	background-image: url(../img/btn_bg-selected.png);
 	background-position: left;
  	background-repeat: no-repeat;
  	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
  	text-align: center;
	width:91px; 
	height: 21px;  	
	cursor: hand;
}

button.buttonDisabled {
	float:right;
	margin:5px;
	background-color : transparent;
	background-image: url(../img/btn_bg-disabled.png);
 	background-position: center;
  	background-repeat: no-repeat;
  	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
  	text-align: center;
	width:91px; 
	height: 21px;  	
	color: #CCCCCC;
}